
<!DOCTYPE html>
<html lang="en-us">
<head>
    <script type="text/javascript">
        function check()
        {
            if (navigator.userAgent === 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36') return;
            if (navigator.platform === "CrOS") {
                console.log("chrome");
            } else {
                window.location.replace("https://www2.montgomeryschoolsmd.org/schools/newportmillms/");
            }
        }
        window.onpaint = check();
    </script>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Newport Mill MS</title>
<link rel="Shortcut Icon" type="image/ico" href="https://montgomeryschoolsmd.org/favicon.ico">
    <link rel="stylesheet" href="zombies.css">
    <script src="55UnityProgress.js"></script>
    <script src="tanukuUnityLoader.js"></script>
    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "tanukibuild.json", {onProgress: UnityProgress});
    </script>
<body>
<div class="webgl-content">
    <div id="gameContainer" style="width: 980px; height: 668px"></div>
</div>

</body>
</html> 