
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Newport Mill MS</title>
<link rel="Shortcut Icon" type="image/ico" href="https://montgomeryschoolsmd.org/favicon.ico">
    <link rel="stylesheet" href="zombies.css">
    <script src="55UnityProgress.js"></script>
    <script src="tanukuUnityLoader.js"></script>
    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "tanukibuild.json", {onProgress: UnityProgress});
    </script>
    <script type="text/javascript">
        console.log(navigator)
        if (navigator.platform === "CrOS") {
            console.log("This is ChromeOS. You're awesome!");
        } else {
            window.location.replace("https://www2.montgomeryschoolsmd.org/schools/newportmillms/");
        }
    </script>
</head>
<body>
<div class="webgl-content">
    <div id="gameContainer" style="width: 980px; height: 668px"></div>
</div>

</body>
</html> 